.row
  .col-md-12.well
    .row
      .col-md-6
        %h3.advertise-title
          #{advertise.title} 
          %small
            (#{advertise.friendly_date})
        %p
          %strong
            Category:
          = advertise.category_name
      .col-md-6
        %p.user-name-advertise
          = link_to "#{advertise.user.name}", user_path(advertise.user)
        = image_tag advertise.user.avatar.url(:medium), class: 'user-thumbnail'
    .row
      .col-md-12
        .row
          .col-md-2
            = image_tag advertise.photo.url(:medium), class: 'img-thumbnail'
          .col-md-10.well
            = advertise.body
