= render advertise
.row
  .col-md-12
    - if owner_of_the_advertise?
      .title
        = link_to 'Edit', edit_advertise_path(advertise), class: "button btn btn-default"
        = link_to 'Delete', advertise_path(advertise), method: :delete, class: "button btn btn-default"

.row
  .col-md-12
    - if user_signed_in?
      = render 'message_form'
    - else
      %p.center.log-in-mail-message
        = link_to "Log in to ask #{advertise.user.name} a question about that advertise.", new_user_session_path
