.row
  .col-md-4
    %h3
      #{user.name}
      - if is_user_current_user?(user)
        %span.small_link
          = link_to "Edit", edit_user_registration_path
    .image-wrapper
      = image_tag user.avatar.url(:medium)

  .col-md-8
    %h3
      See list of advertises from #{user.name} (#{advertises.count}):
    .advertises-list-wrapper
      %ul.list-group
        - advertises.each do |a|
          = render 'advertise', ad: a
