.row.well
  = simple_form_for category, :defaults => { :wrapper_html => {:class => 'form-horizontal'} }  do |f|
    = f.input :name
    .row
      .col-md-2
        .btn-group
          %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
            Choose Icon
            %span.caret
          %ul#icon-selector.dropdown-menu
            - icons.each do |x|
              %li.category-icon
                %a= content_tag(:i, '', class: "#{x}", data: { name: "#{x}" })
      .col-md-1
        %i#icon_display
    %br
    = f.input :icon_class, as: :hidden
    %br
    = f.button :submit

