= simple_form_for category do |f|
  = f.input :name
  = f.input :icon_class, as: :hidden
  = f.button :submit

%br
.btn-group
  %i#icon_display
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    Choose Icon
    %span.caret
  %ul#icon-selector.dropdown-menu
    - @icons.each do |x|
      %li.category-icon
        %a= content_tag(:i, '', class: "fa #{x}", data: { name: "fa #{x}" })
