.row
  .col-md-12
    %h1
      .small
        Categories:
.row
  .col-md-12
    %ul.list-group
      - categories.each do |category|
        %br
        = link_to category_path(category) do
          %li.list-group-item
            .row
              .col-md-1
                = content_tag( :i, '', class: "#{category.icon_class}", id: "category-icon" )
              .col-md-10
                = category.name
- if current_user.try(:admin?)
  .row
    .col-md-2
      .title
        = link_to "New", new_category_path, class: "button btn btn-default btn-block"
