.row
  .col-md-12
    %h1
      .small
        Categories:
.row
  .col-md-12
    %ul.list-group
      - categories.each do |category|
        = link_to category_path(category) do
          %li.list-group-item 
            = category.name
            = content_tag( :i, '', class: "fa #{category.icon_class}" )
- if current_user.try(:admin?)
  .row
    .col-md-2
      .title
        = link_to "New", new_category_path, class: "button btn btn-default btn-block"
- categories.each do |category|
  = link_to category.name, category_path(category)
